# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
# .classpath y .project son necesarios para que el IDE reconozca el proyecto
# .settings/ también es necesario
bin/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

